.min-height-65 {
    min-height: 65px !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-line-through {
    text-decoration: line-through;
}

.text-overline {
    text-decoration: overline;
}

.text-underline-overline {
    text-decoration: underline overline;
}

.table> :not(caption)>*>* {
    padding: 0.5rem 1.5rem !important;
}

.page_container {
    min-height: 80vh !important;
}

/* -- Custom Pagination Style -- */

.pagination {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 0.25rem;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item:not(:first-child) .page-link {
    margin-left: 0;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #1156a1;
    border-color: #007bff;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
.word-wrap{
    text-wrap: wrap;
}
