.min-height-65 {
    min-height: 65px !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-line-through {
    text-decoration: line-through;
}

.text-overline {
    text-decoration: overline;
}

.text-underline-overline {
    text-decoration: underline overline;
}

.table > :not(caption) > * > * {
    padding: 0.5rem 1.5rem !important;
}

.page_container {
    min-height: 80vh !important;
}

/* -- Custom Pagination Style -- */

.pagination {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 0.25rem;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-item:not(:first-child) .page-link {
    margin-left: 0;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #1156a1;
    border-color: #007bff;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

.word-wrap {
    text-wrap: wrap !important;
}

.form-control.is-select {
    padding-right: unset;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCA4Ij4KICA8cGF0aCBmaWxsPSIjYWRiNWJkIiBkPSJNMTAgMEw1IDUgMCAwWiIvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem 1rem;
}
.select2-container .select2-selection--single {
    height: 40px !important;
    border: 1px solid #d2d6da !important;
    border-radius: 0.5rem !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    /* color: #adb5bd !important; */
    line-height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
}

/* -- Custom Uploader Style -- */
.upload__box {
    padding: 5px;
}
.upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload__btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    min-width: 150px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid;
    border-color: #4045ba;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
    color: #4045ba;
}
.upload__btn p {
    font-size: 35px !important;
    margin: 0;
}
.upload__btn:hover {
    background-color: white;
    color: #4045ba;
    transition: all 0.3s ease;
}
.upload__btn-box {
    padding: 5px;
    margin-bottom: 10px;
}
.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.upload__img-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
}
.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}
.upload__img-close:after {
    content: "✖";
    font-size: 14px;
    color: white;
}
.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Settings */
.setting_container {
    background: #f2f2f24a;
    padding: 23px;
    border-radius: 10px;
}

.setting_item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.setting_item:first-child {
    border-top: 1px solid #ccc;
}

.setting_item .setting_title {
    font-weight: 600;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.setting_item .setting_value {
    padding-left: 10px;
}